.summary-section{
    /* background-color:rgb(226, 224, 224); */
    height: 90px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap:20px;
    margin-top: 15px;
}
.current-balance{
    width: 43.2vw;
    height: 90px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.current-balance  p{
    font-weight: bold;
}