.summary-section{
    /* background-color:rgb(226, 224, 224); */
    height: 150px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap:10px;
    margin-top: 15px;
    width: 97%;
   
}

.current-balance{
    margin-top: 20px;
    width: 50vw;
    height: 90px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.current-balance  p{
    font-weight: bold;
}