.navbar{
    padding: 0 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 0 2px 1px rgb(201, 200, 200);
  
  
    

}
a{
    cursor: pointer;
}

.logo-section,
.user-section{
    display: flex;
    align-items: center;
}

.logo-section,
.open-menu-btn{
    /* background-color: aqua; */
    cursor: pointer;
    z-index: 100;
}
.open-menu-btn,
.close-menu-btn{
    position: absolute;
    right: 50px;
}
.close-menu-btn


.logo{
    font-size: 1.7em;
    color:rgb(7, 92, 148);
    
}
.logo-name{
    margin-left:10px;
    color:rgb(7, 92, 148);
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic
}
.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;

}
.nav-item,
.nav-item a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-item a{
    color: rgb(7, 92, 148);
    font-size: 1.1em;
    font-weight: bold;
    padding: 2.5px 7px;
    border-radius: 20px;
}

.nav-items a:hover,
.nav-item-home
.nav-item a:hover{
    color:#fff;
    background-color: rgb(7, 92, 148);
   
    transition: all 0.2s ease-in;
}
.user-icon{
    margin-right: 10px;
    cursor: pointer;
}
.nav-sign-in{
    margin-right: 40px;
    font-size: 1.2em;
    cursor: pointer;
}
.user-icon{
    font-size: 1.8em;
}


.user-icon,
.nav-sign-in{
    color:rgb(7, 92, 148);
    font-weight: bold;
    
}
.sidebar,
.sidebar-hidden{
    position: fixed;
    height: 100%;
    background-color: rgb(22, 45, 94);
    transition: 850ms;
}

.sidebar{
    top: 0;
    right: 0;
    z-index: 90;
}

.sidebar-hidden{
    top: 0;
    right: -300px;
}

.hidden{
    display: hidden;
}