.App{
  width: 100%;
  
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
html, body, #app, #app>div {
  height: 100%
}

.main-section-container{
  display: grid;
  grid-template-columns: 30% 40%;
  background-color:rgb(217, 227, 237) ;
  box-shadow: 0 0 2px 1px rgb(201, 200, 200);
  padding-top:50px;
  height: 80vh;
}

.main-history-section{
  /* width: 40vw; */
  
}

.summary{
  grid-template-rows: 40% ;
  width: 50vw;
}
